.user_container {
  position: absolute;
  aspect-ratio: 1;
  backdrop-filter: brightness(50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  border-radius: 100%;
  left: 1em;
}
