.authorRow {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.formItem {
  flex-grow: 1;
  padding: 0.75em;
  margin-right: 0.5em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.buttonItem {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.5em;
  border: none;
  background-color: #4c72af;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.buttonItem:hover {
  background-color: #4669a1;
}

.formTextArea {
  padding: 0.75em;
  margin-top: 1em;
  border-radius: 5px;
  border: 1px solid #ccc;
  min-height: 8em;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 30em;
  margin: 0 auto;
  padding: 2em;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.submitButton {
  margin-top: 1em;
  padding: 0.75em;
  border: none;
  background-color: #4c72af;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}