.form {
  display: flex;
  flex-direction: column;
  max-width: 30em;
}

.formItem {
  padding: 1em;
  margin: 1em 0;
  flex-grow: 1;
}

.formTextArea {
  @extend .formItem;
  min-height: 8em;
}

.arrayItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
}

.buttonItem {
  width: 3rem;
  height: 3rem;
  flex-grow: 0;
  font-size: 1.5em;
}

.action-button {
  padding: 5px 5px;
  border-radius: 12px;
  border: none;
  color: black;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100px;
}

.approve-button {
  background-color: #5cb85c;
}

.reject-button {
  background-color: #d9534f;
}

.disabled {
  background-color: grey;
  cursor: not-allowed;
}

.action-button:hover:not(.disabled) {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.approve-button:hover:not(.disabled) {
  background-color: #4cae4c;
}

.reject-button:hover:not(.disabled) {
  background-color: #c9302c;
}

/* Table stylings */
table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

th,
td {
  width: auto;
  overflow: hidden;
  padding: 8px;
  text-align: left;
}

th {
  border-bottom: 2px solid #ddd;
}

td {
  border-bottom: 1px solid #ddd;
}

.pagination-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.pagination-button {
  padding: 8px 12px;
  background-color: #4c72af;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination-button:hover {
  background-color: #4669a1;
}

.pagination-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.pagination-info {
  font-size: 16px;
  color: #333333;
}
